---
http_interactions:
- request:
    method: post
    uri: https://api.smtp2go.com/v3/email/send
    body:
      encoding: UTF-8
      string: '{"api_key":"test-api-key","sender":"dave@example.com","to":["matt@example.com"],"subject":"Test
        Message","text_body":"Test Content"}'
    headers:
      Content-Type:
      - application/json
      X-Smtp2go-Api:
      - smtp2go-ruby
      X-Smtp2go-Api-Version:
      - 0.0.1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '249'
      X-Ratelimit-Limit:
      - '250'
      X-Ratelimit-Reset:
      - "-3"
    body:
      encoding: UTF-8
      string: '{"request_id": "556763c6-0f5d-11e7-aa52-f23c91285f72", "data": {"failures":
        [], "succeeded": 1, "failed": 0}}'
  recorded_at: Thu, 23 Mar 2017 00:12:03 GMT
recorded_with: VCR 3.0.3
